<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>POD</display-name>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <listener>
    <listener-class>com.pod.servlet.ServerProperties</listener-class>
  </listener>
  <servlet>
    <servlet-name>FrontServlet</servlet-name>
    <servlet-class>com.pod.servlet.FrontServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FrontServlet</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ManagerServlet</servlet-name>
    <servlet-class>com.pod.servlet.ManagerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerServlet</servlet-name>
    <url-pattern>/manager</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>WorkerServlet</servlet-name>
    <servlet-class>com.pod.servlet.WorkerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WorkerServlet</servlet-name>
    <url-pattern>/worker</url-pattern>
  </servlet-mapping>
</web-app>